<div class="container">
  <div class="row">
    <p>The Internet Cocktail Database is the place when you create and store your own cocktails.</p>
    <p>Never loose a cocktail anymore !</p>

    <p>Ⓒ 2021 Copyright</p>
    <p>The Internet Cocktail Database</p>

  </div>
</div>
